{
    "root": true,
    "extends": "standard-with-typescript",
    "parserOptions": {
      "project": "./tsconfig.json"
    },
    "rules": {
        "indent": "off",
        "@typescript-eslint/consistent-type-definitions": "off",
        "@typescript-eslint/strict-boolean-expressions": [
          4,
          {
              "allowString" : false,
              "allowNumber" : false
          }
      ]
    }
}