{
    "settings": {
      "react": {
        "version":"detect"
      }
    },
    "extends": [
      "standard-with-typescript",
      "plugin:react/recommend"
    ],
    "plugins": ["react"],
    "parserOptions": {
      "project": "./tsconfig.json"
    },
    "rules": {
        "indent": "off",
        "@typescript-eslint/consistent-type-definitions": "off",
        "@typescript-eslint/strict-boolean-expressions": [
          4,
          {
              "allowString" : false,
              "allowNumber" : false
          }
      ],
      "react/jsx-uses-react": "error",
      "react/jsx-uses-vars": "error"
    }
}